<!doctype html>
<html>
 <head>
  <meta charset="UTF-8" name="design-properties" content="{&quot;RULERS_VISIBLE&quot;:true,&quot;GUIDELINES_VISIBLE&quot;:false,&quot;SNAP_TO_OBJECTS&quot;:true,&quot;SNAP_TO_GRID&quot;:true,&quot;SNAPPING_DISTANCE&quot;:10,&quot;THEME&quot;:&quot;valo&quot;,&quot;JAVA_SOURCES_ROOT&quot;:&quot;src/main/java&quot;}">
  <meta charset="UTF-8" name="vaadin-version" content="7.7.0">
 </head> 
 <body> 
  <vaadin-absolute-layout style-name="loginBackground"> 
   <vaadin-vertical-layout size-full> 
    <vaadin-panel style-name="loginMainPanel" size="auto" :middle :center> 
     <vaadin-vertical-layout size-full> 
      <vaadin-label style-name="h2" size-auto plain-text :bottom :center>
        Please enter your login information: 
      </vaadin-label> 
      <vaadin-form-layout width="222px" :center> 
       <vaadin-label size-auto plain-text>
         Username: 
       </vaadin-label> 
       <vaadin-text-field _id="username"></vaadin-text-field> 
       <vaadin-label size-auto plain-text>
         Password: 
       </vaadin-label> 
       <vaadin-password-field _id="password"></vaadin-password-field> 
       <vaadin-button plain-text _id="login">
         Login 
       </vaadin-button> 
       <vaadin-link caption="Forgot your username/password?" width="255px"></vaadin-link> 
      </vaadin-form-layout> 
     </vaadin-vertical-layout> 
    </vaadin-panel> 
   </vaadin-vertical-layout> 
  </vaadin-absolute-layout>  
 </body>
</html>