
@import "../valo/valo.scss";



@mixin mytheme {
  @include valo;

  .blackColor {
    background: black;
  }

  .loginLabel {
    font-style: bold;
    font-size: 24px;
  }

  .loginBackground {
      background: black;
  }

  .loginMainPanel {
    border: 2px;
    border-color: dimgray;
  }

}